@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #000;
    --bg-color: #fff;
    --bg-gradient: linear-gradient(to top right, #4a7e62, #9ea85e);
    --mymsg-bg: #effdde;
    --mysmg-color: #000;
    --mymsg-time-color: #5dc452;

}

/* Dark theme */
html.dark {
    --text-color: #fff;
    --bg-color: #212121;
    --bg-gradient: linear-gradient(to top right, #0f0f0f, #0f0f0f);
    --mymsg-bg: #766AC8;
    --mysmg-color: #fff;
    --mymsg-time-color: #B7B0E2;
}

/* Apply the custom properties */
body {
    background: var(--bg-gradient);
    color: var(--text-color);
}

.contentArea {
    background: url('./assets/pattern-5.svg');
}


/* Messages Styes */
.chat__body {
    display: flex;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 6px;
}

.message {
    align-self: flex-start;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 30px;
    max-width: 420px;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 8px;
    border-radius: 6px;
    z-index: 2;
}

.message.my-message {
    align-self: flex-end;
    background-color: var(--mymsg-bg);
    color: var(--mysmg-color)
}

.message.droplet:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: -8px;
    width: 12px;
    height: 1px;
    background-color: inherit;
    z-index: 1;
}

.message.droplet:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: -10px;
    width: 16px;
    height: 10px;
    clip-path: url(#left-droplet);
    background-color: inherit;
    z-index: 1;
}

.message.my-message.droplet:before {
    right: -8px;
    left: initial;
}

.message.my-message.droplet:after {
    right: -10px;
    left: initial;
    clip-path: url(#right-droplet);
}

.message__text {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

.message__time {
    display: inline-block;
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    text-align: right;
    font-size: 12px;
    color: #a0acb6;
}

.my-message .message__time {
    color: var(--mymsg-time-color);
}

.voiceRecord:hover .micIcon {
    color: #fff
}


/* Chat open close Animations */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width: 767px) {
    /* Animations  */
    .slide-in {
        animation: slideIn 0.4s forwards;
    }

    .slide-out {
        animation: slideOut 0.4s forwards;
    }
}

@keyframes rotateClockWise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-clock-wise {
    animation: rotateClockWise 0.3s linear;
}

@keyframes rotateAnitClockWise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-120deg);
    }
}

.rotate-anti-clock-wise {
    animation: rotateAnitClockWise 0.4s linear;
}